@{
    Layout = "~/Plugins/Widgets.UserManuals/Views/Shared/_AdminShared.cshtml";
}
@model CategorySearchModel
@using Nop.Plugin.Widgets.UserManuals.Resources;
@using Nop.Plugin.Widgets.UserManuals.Controllers;
@using Nop.Plugin.Widgets.UserManuals.Models;
@using Nop.Web.Framework.Models.DataTables;
@{
    ViewBag.PageTitle = T(AdminResources.CategoryListCaption).Text;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(AdminResources.CategoryListCaption)
    </h1>
    <div class="pull-right">
        @Html.ActionLink(T(AdminResources.AddCategoryCaption).Text,
            nameof(CategoriesController.Create),
            CategoriesController.ControllerName,
            new { area = "Admin" },
            new { @class = "btn bg-blue" })
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                   @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "categories-grid",
                       UrlRead = new DataUrl(nameof(CategoriesController.ListData), CategoriesController.ControllerName,
                            new Microsoft.AspNetCore.Routing.RouteValueDictionary{["area"] = "Admin" }),
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CategoryModel.Name))
                            {
                                Title = T(CategoryResources.Name).Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(CategoryModel.DisplayOrder))
                            {
                                Title = T(GenericResources.DisplayOrder).Text,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(CategoryModel.Published))
                            {
                                Title = T(GenericResources.Published).Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CategoryModel.Id))
                            {
                                Title = T(AdminResources.EditCategoryCaption).Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(
                                    new DataUrl(@Url.Action(nameof(CategoriesController.Edit), 
                                                            CategoriesController.ControllerName,
                                                            new { area = "Admin"})))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
